* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

/*------------------------header-------------------------*/

.nav-link {
  font-weight: 500;
  font-size: 17px;
}
.navbar {
  background-color: #fff;
}
.register_btn {
  text-decoration: none;
  color: #fff;
  background-color: #40008a;
  padding: 13px 30px;
  border-radius: 25px;
  font-weight: 500;
  font-size: 17px;
  transition: all 0.2s;
}
.register_btn:hover {
  color: #fff;
  background-color: #3f077e;
}
.login_btn {
  font-weight: 500;
  text-decoration: none;
  color: #000;
  margin: 0 15px;
  font-size: 17px;
}
.login_btn:hover {
  color: #40008a;
}

/*-----------------------------login------------------------------*/

.login {
  background-color: #40008a;
  transition: all 0.2s;
  color: #fff;
}
.login:hover {
  background-color: #3f077e;
  color: #fff;
}
.hidden_text {
  color: #959595;
  font-size: 15px;
}
.form-control:focus {
  box-shadow: none;
  border: 2px solid #3f077e;
}
