* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  /* background-color: whitesmoke; */
}

ul li {
  list-style: none;
}

/*------------------------header-------------------------*/

.nav-link {
  font-weight: 500;
  font-size: 17px;
}
.navbar {
  background-color: #fff;
}
.register_btn {
  text-decoration: none;
  color: #fff;
  background-color: #40008a;
  padding: 13px 30px;
  border-radius: 25px;
  font-weight: 500;
  font-size: 17px;
  transition: all 0.2s;
}
.register_btn:hover {
  color: #fff;
  background-color: #3f077e;
}
.login_btn {
  font-weight: 500;
  text-decoration: none;
  color: #000;
  margin: 0 15px;
  font-size: 17px;
}
.login_btn:hover {
  color: #40008a;
}

/*-----------------------------login------------------------------*/

.login {
  background-color: #40008a;
  transition: all 0.2s;
  color: #fff;
}
.login:hover {
  background-color: #3f077e;
  color: #fff;
}
.hidden_text {
  color: #959595;
  font-size: 15px;
}
.form-control:focus {
  box-shadow: none;
  border: 2px solid #3f077e;
}

/*---------------------registration----------------------*/

.form {
  max-width: 550px;
  background-color: whitesmoke;
  padding: 30px;
  border-radius: 10px;
}
.nextbtn {
  background-color: #40008a;
  color: #fff;
  padding: 10px 0;
  border-radius: 25px;
  font-size: 18px;
}
.nextbtn:hover {
  color: #fff;
  background-color: #3f077e;
}
.notice {
  font-size: 12px;
  text-align: center;
}

.id_text {
  color: #4990ec;
}

/*---------------------images-------------------------------*/

.upload_selfie {
  max-width: 150px;
  height: 150px;
  width: 100%;
  padding: 5px;
  border: 1px solid #ddd;
  position: relative;
}
#file_up_selfie {
  position: relative;
  width: 100%;
  height: 100%;
  outline: none;
}
#file_up_selfie::before {
  content: "+";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #eee;
  color: #217c7c;
  font-size: 6rem;
  cursor: pointer;
  text-align: center;
  margin: auto;
}
#file_img_selfie {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: white;
}
#file_img_selfie img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
#file_img_selfie span {
  position: absolute;
  top: -13px;
  right: -13px;
  background: white;
  border: 1px solid #ddd;
  border-radius: 50%;
  padding: 5px 10px;
  cursor: pointer;
  font-weight: 800;
  color: crimson;
}

.paginationBttns {
  height: 100%;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  margin: auto;
  padding: 0;
}

.paginationBttns a {
  display: block;
  padding: 10px;
  margin: 2px;
  border-radius: 5px;
  border: 1px solid #2b2eff;
  color: #2b2eff;
  cursor: pointer;
  background-color: white;
}

.paginationBttns a:hover {
  color: white;
  background-color: #2b2eff;
}

.paginationActive a {
  color: white !important;
  background-color: #2b2eff;
}

.paginationDisabled a {
  color: grey;
  background-color: #eee;
}

a {
  text-decoration: none;
  color: black;
}
.heading {
  font-weight: 700;
}
